$media-header: screen and (max-width: 1000px);
$media-sections: screen and (max-width: 800px);

#index-header {
    height: 40vh;
    min-height: 300px;
    position: relative;
    text-align: center;
    overflow: hidden;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.4);

    &:before {
        height: calc(40vh + 2px);
        min-height: 302px;
        width: calc(100vw + 4px);
        position: fixed;
        top: -2px;
        left: -2px;
        filter: blur(2px) grayscale(0.7);
        content: '';
        background: {
            image: url('../img/header-background.jpg');
            color: darkslateblue;
            size: cover;
            position: center center;
        }
        z-index: -1;
    }

    #header-logo {
        position: absolute;
        bottom: 60px;
        width: 100%;
        color: white;
        text-shadow: 0 0 10px gray;
        font: {
            family: 'Teko', sans-serif;
            size: 6.5vw;
            weight: 700;
        }
        letter-spacing: -7px;
        text-transform: uppercase;

        span {
            font: {
                family: 'Open Sans Condensed';
                size: 6.3vw;
                weight: 300;
            }
            margin-left: -0.1vw;
            letter-spacing: -7x;
            text-shadow: 0 0 3px darkslategray;
            z-index: 50;
        }
    }

    #header-tagline {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        line-height: 80px;
        color: white;
        text-shadow: 0 0 3px black;
        letter-spacing: 1px;
        font: {
            size: 35px;
            family: 'Amatic SC', sans-serif;
        }
        background-color: rgba(0, 0, 0, 0.4);
    }

    @media #{$media-header} {
        height: 30vh;
        min-height: 200px;

        &:before {
            height: 30vh;
            min-height: 200px;
        }

        #header-logo {
            font-size: 70px;
            bottom: 60px;

            span {
                font-size: 68px;
                margin-left: 0;
            }
        }

        #header-tagline {
            font-size: 27px;
            line-height: 60px;
        }
    }
}

#index-main {
    background-color: $background-color;
    padding-top: 50px;

    .container {
        display: flex;
        flex-flow: row-reverse;
        justify-content: center;

        > div {
            flex: 0 0 42%;
            margin: 0 1%;
            max-width: 400px;
            min-width: 300px;

            > * {
                background-color: white;
                border: 1px solid gainsboro;
                box-shadow: 0 0 3px gainsboro;
                padding: 15px 30px;
            }

            &:first-of-type {
                display: flex;
                flex-flow: column;

                > form {
                    flex: 0 0 auto;
                    padding-bottom: 10px;

                    .remember-me label {
                        margin-top: 7px;
                        width: 100%;
                        text-align: right;
                        font: {
                            family: 'Questrial', 'Roboto', 'Open Sans', sans-serif;
                            size: 15px;
                            weight: 400;
                        }
                        color: slategray;

                        input[type=checkbox] {
                            margin-right: 5px;

                            &:focus {
                                outline: none;
                            }
                        }
                    }
                }

                > div {
                    flex: 1 0;
                    margin-top: 20px;
                    font: {
                        size: 19px;
                        family: 'Questrial', sans-serif;
                    }
                    text-align: center;
                }
            }
        }

        @media #{$media-sections} {
            display: table;

            > div {
                flex: 0 0 100%;
                margin: auto;
            }
        }
    }

    @media #{$media-header} {
        padding-top: 30px;
    }
}