<header>
    <div id="user-settings"><img src="/img/settings.png"></div>
    <div id="header-logo">F<span>S</span></div>
    <form id="header-search">
        <input type="search" placeholder="Search FatSocial">
        <input type="submit" value="">
    </form>
    <div id="user-messages"><img src="/img/messages.png"></div>
    <div id="user-notifications"><img src="/img/notifications.png"></div>
    <div id="user-profile">
        <a href="/profile/<%= username %>">
            <span><%= username %></span>
            <img src="/img/fatFighter.jpg">
        </a>
    </div>
</header>